body {
  font-family: "Roboto Condensed", sans-serif;
  color: #e0e0e0;
  background-color: #121212;
  margin: 0;
  padding: 40px 0;
}

h1 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 3rem;
  margin: 0;
  padding-left: 5%;
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 10rem;
  font-weight: 500;
  margin: 0;
  margin-top: 5px;
  padding-left: 10%;
}

.rightCenter {
  display: flex;
  justify-content: flex-end; /* Alinea todo el contenido de la sección a la derecha */
  padding: 40px; /* Espaciado general */
  text-align: right;
}

.anchoLimitado {
  max-width: 50%;
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  margin: 0;
  color: #e0e0e0;
  text-align: justify; /* Texto alineado para mejor lectura */
}
