body {
  font-family: "Roboto Condensed", sans-serif;
  color: #e0e0e0;
  background-color: #121212;
  margin: 0;
  padding: 40px 0;
}

h1 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 3rem;
  margin: 0;
  padding-left: 5%;
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 10rem;
  font-weight: 500;
  margin: 0;
  margin-top: 5px;
  padding-left: 10%;
}

.rightCenter {
  display: flex;
  justify-content: flex-end; /* Alinea todo el contenido de la sección a la derecha */
  padding: 40px; /* Espaciado general */
  text-align: right;
}

.anchoLimitado {
  max-width: 50%;
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  margin: 0;
  color: #e0e0e0;
  text-align: justify; /* Texto alineado para mejor lectura */
}

.tamanoQR {
  width: 150px;
  height: 200px;
  display: flex;
}
.footer {
  background-color: #121212;
  color: #e0e0e0;
  padding: 4px 0px;
  text-align: center;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-info,
.footer-social {
  flex: 1 1 45%;
  margin: 10px;
}

.footer-info h4,
.footer-social h4 {
  margin-bottom: 15px;
  font-size: 1.5rem;
}

.footer-info p,
.footer-social p {
  margin: 5px 0;
  font-size: 1rem;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.social-icons a {
  color: #e0e0e0;
  font-size: 1.5rem;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #1da1f2; /* Cambia el color al pasar el mouse (ejemplo: azul de Twitter) */
}

.footer-bottom {
  margin-top: 20px;
  border-top: 1px solid #333;
  padding-top: 10px;
  font-size: 0.875rem;
}

@media (max-width: 768px) {
  .hero {
    justify-content: center;
    text-align: center;
  }

  .heroText {
    text-align: center;
  }

  .footer-bottom {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 500px) and (max-height: 750px) {
  .rightCenter {
    display: none;
  }
}
